@model Joogle.Models.Site

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Изменение сайта</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>
        Вы можете поставить флаг удален. Тогда он не будет участвовать в парсинге.
        Если он уже был ранее распарсен, то текст, который был сохранен для данного сайта,
        не будет участвовать в поиске.
    </h4>
    <hr />
    <div class="form-group">
        @Html.Label("Адрес", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.IsParsed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    
    <div class="form-group">
        @Html.Label("Обработан", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DisplayFor(model => model.IsParsed)
                @Html.ValidationMessageFor(model => model.IsParsed, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Удален", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Вернуться к списку сайтов", "Sites")
</div>
